.caa {
    /* background: linear-gradient(135deg, #ffb76e, #c6e9ff); */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  .text-centerr {
    font-family: "Monotype Corsiva";
    font-size: 2rem;
    text-align: center;
   
  }
  .text-center {
    font-family: "Monotype Corsiva";
    font-size: 2rem;
    animation: moveText 2s ease-in-out infinite;
  }
  
  /* Animation to move the text */
  @keyframes moveText {
    0% {
      transform: translateX(0); /* Start at the normal position */
    }
    25% {
      transform: translateX(20px); /* Move to the right */
    }
    50% {
      transform: translateX(0); /* Return to the normal position */
    }
    75% {
      transform: translateX(-20px); /* Move to the left */
    }
    100% {
      transform: translateX(0); /* End at the normal position */
    }
  }
  
  /* Flex container to align forms horizontally without space between them */
  .form-container-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Optional: to add some space on top */
  }
  
  .form-container, .form-container1 {
    width: 36%;
    background-color: white;
    padding: 20px;
    margin: 0; /* Remove margin to eliminate space between containers */
    height: 400px;
  }
  
  .form-container .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin: 10px 40px 20px 2px;
    width: 90%;
  }
  
  .form-container input {
    /* Removed border-radius */
  }
  
  /* Align the Remember Me checkbox and Login button in the same line */
  .form-container1 .form-check {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between checkbox and button */
  }
  
  /* Space between Remember Me checkbox and Login button */
  .form-check .login-button {
    margin-left: 25px; /* Add space between the checkbox and button */
  }
  
  .ad-btn {
    background: linear-gradient(135deg, #fb9337, #dfabeb);
    width: 100%;
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  button:hover {
    background: linear-gradient(135deg, #6eae57, #d995c1);
    cursor: pointer;
  }
  .login-button{
    width: 138px;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #0275d8;
    font-weight: bold;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    text-align: center;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #0275d8;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }